<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            margin: 40px;
        }
        .content {
            margin: 20px;
            padding: 10px;
        }
    </style>
</head>
<body>

    <div class="header">
        <h1>Dashboard </h1>
    </div>

    <div class="sidebar">
        <a href="/dashboard">Home</a>
        <a href="/myposts">My posts</a>
        <a href="/settings">Settings</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="content">
      <h2>Posts List</h2>

      <div class="posts">
          <% posts.forEach(function(post) { %>
              <h4><a href="postsview/<%= post.id %>"><%= post.title %></a></h4>
          <% }); %>
      </div>
      
    </div>

</body>
</html>