<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            margin: 40px;
        }
        .content {
            margin: 20px;
            padding: 10px;
        }
    </style>
</head>
<body>

    <div class="header">
        <h1>Dashboard </h1>
    </div>
    <div><%= sessionuser.firstName %></div>
    <br>
    <div class="sidebar">
        <a href="/dashboard">Home</a>
        <a href="/myposts">My posts </a>
        <a href="/settings">Settings</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="content">
        
      <h2><%= title %></h2>

      <div class="posts">
         
      </div>
      
    </div>

</body>
</html>